// Layout: layout of major content panels and global header and footer
$base-font-size: 12px;
$base-line-height: 18px;
$ggi-breakpoint-medium: 40em;
$ggi-breakpoint-large: 64em;
$ggi-footer-rhythm: 2;
@include establish-baseline;
@include border-box-sizing;

@include breakpoint($ggi-breakpoint-medium) {
  @include establish-baseline(14px);
}

@include breakpoint($ggi-breakpoint-large) {
  @include establish-baseline(16px);
}

html, body {
  height: 100%;
}

.page {
  position: relative;
  min-height: 100%;
  @include padding-trailer($ggi-footer-rhythm);
}

.page__lane {
  @include container;
  @include break;
  padding: rhythm();
  position: relative;
}

.page__bucket {
  position: relative;
  max-width: 120em;
  margin: 0 auto;
  overflow: hidden;
}

header.page__header {
  @extend .page__lane;
}

.page__subheader {
  @extend .page__lane;
}

.page__content {
  @extend .page__lane;
}

.site-navigation {
  width: 100%;
  text-align: right;
}

@include susy-breakpoint($ggi-breakpoint-medium, 2) {
  .site-title {
    @include span(1 at 1 of 2);
    margin: 0;
  }
  .site-navigation {
    @include span(1 at 2 of 2);
  }
}

.search {
  padding-bottom: rhythm(0.5);
}
@include susy-breakpoint($ggi-breakpoint-medium, 2) {
  .tagline {
    @include span(1 omega at 2 of 2);
  }
  .search {
    @include span(1 at 1 of 2);
    padding-bottom: 0;
  }
}

.browser {
  @include break;
  @include rhythm-padding;
  @include susy-breakpoint($ggi-breakpoint-large, 3) {
    @include span(1 at 1 of 3);
  }
}

.taxon {
  @include susy-breakpoint($ggi-breakpoint-large, 3) {
    @include span(2 at 2 of 3);
    @include nested(2) {
      .taxon__information {
        @include span(1 at 1 of 2);
        img {
          max-width: 100%;
        }
      }
      .taxon__assessment {
        @include span(1 at 2 of 2);
      }
    }
  }
}

footer.page__footer {
  @extend .page__lane;
  position: absolute;
  top: 100%;
  width: 100%;
  min-height: rhythm($ggi-footer-rhythm);
  margin-top: -1 * rhythm($ggi-footer-rhythm + 0.5);
}

