// Theme: replaceable skin, colors, font family etc.
$ggi-colors: (
  darkest: #222222,
  dark: #666666,
  light: #cccccc,
  lightest: #f5f5f5,
  bright: #35a4c9,
  poor: #cc0000,
  average: #247996,
  good: green
);

$ggi-font-weight: (
  light: 300,
  normal: 400,
  bold: 700
);

@function ggi-contrast-color($color, $key: false) {
  @return if($key, map-get($ggi-colors, $key), contrast-color($color));
}

@mixin ggi-color($bg-key, $fg-key: false, $a-key: false) {
  $bg-color: map-get($ggi-colors, $bg-key);
  $fg-color: ggi-contrast-color($bg-color, $fg-key);
  $a-color: if($a-key, map-get($ggi-colors, $a-key), $fg-color);
  background-color: $bg-color;
  color: $fg-color;
  @include ggi-color-links($a-color, $a-color, $a-color, $a-color)
}

@mixin ggi-color-input($bg-key, $fg-key: false) {
  $bg-color: map-get($ggi-colors, $bg-key);
  $fg-color: ggi-contrast-color($bg-color, $fg-key);
  border-color: darken($bg-color, 10%) darken($bg-color, 8%) lighten($bg-color, 5%);
  @include background-image(linear-gradient(darken($bg-color, 5%), $bg-color));
  color: $fg-color;
}

@mixin ggi-color-button($bg-key, $fg-key: false) {
  $bg-color: map-get($ggi-colors, $bg-key);
  $fg-color: ggi-contrast-color($bg-color, $fg-key);
  @include transition-property(background);
  @include transition-duration(.3s);
  border-color: lighten($bg-color, 10%) darken($bg-color, 8%) darken($bg-color, 5%);
  background-color: $bg-color;
  color: $fg-color;
  &:hover {
    background: darken($bg-color, 10%);
  }
  &:active {
    @include transition-duration(0s);
    background: desaturate($bg-color, 20%);
    color: darken($fg-color, 20%);
  }
}

@mixin ggi-color-links($link, $visited: false, $hover: false, $active: false) {
  a {
    &:link {
      color: $link;
    }
    &:visited {
      color: if($visited, $visited, $link);
    }
    &:hover {
      color: if($hover, $hover, $link);
    }
    &:active {
      color: if($active, $active, $link);
    }
  }
}

@mixin ggi-emboss($background) {
  $c: map-get($ggi-colors, $background);
  border-top: 1px solid lighten($c, 15%);
  border-bottom: 1px solid darken($c, 8%);
}

body {
  @include ggi-color(lightest);
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-weight: map-get($ggi-font-weight, normal);
}

a {
  abbr, abbr[title] {
    border-bottom: none;
  }
}

.headers {
  font-weight: map-get($ggi-font-weight, light);
}

.textbox {
  @include rhythm-borders(1px, 0.4);
}

.button {
  @include adjust-leading-to(1.2);
  padding: {
    left: rhythm(0.5);
    right: rhythm(0.5);
  }
  text-transform: lowercase;
  border-width: 1px;
  border-style: solid;
}

.qualifier--good {
  color: map-get($ggi-colors, good);
  @include ggi-color-links(map-get($ggi-colors, good));
}

.qualifier--average {
  color: map-get($ggi-colors, average);
  @include ggi-color-links(map-get($ggi-colors, average));
}

.qualifier--poor {
  color: map-get($ggi-colors, poor);
  @include ggi-color-links(map-get($ggi-colors, poor));
}

h1 {
  @extend .headers;
  @include adjust-font-size-to(2em);
  margin-top: 0.5em;  /* This is not ideal; we should be using rhythm properly here. */
  &.error {
    text-align: center;
  }
}

.subhead {
  font-size: 1.2em;
  font-style: italic;
}

h2 {
  @extend .headers;
}

dt {
  text-transform: uppercase;
  font-weight: map-get($ggi-font-weight, light);
}

figcaption {
  @include breakpoint($ggi-breakpoint-large) {
    @include adjust-font-size-to(0.8em);
  }
}

input[type=search] {
  @extend .textbox;
  @include ggi-color-input(lightest);
}

input[type=submit] {
  @extend .button;
  @include ggi-color-button(darkest);
}

thead {
  @include trailing-border(1px);
  border-color: map-get($ggi-colors, light);
  text-transform: uppercase;
}

th {
  font-weight: map-get($ggi-font-weight, light);
}

header.page__header {
  @include ggi-color(darkest);
}

.page__subheader {
  @include ggi-color(bright);
  @include ggi-emboss(bright);
}

.ui-autocomplete {
  background-color: darken(map-get($ggi-colors, lightest), 5%);
  li {
    border-color: darken(map-get($ggi-colors, lightest), 10%);
  }
  .ui-state-focus, .ui-state-active {
    background-color: darken(map-get($ggi-colors, lightest), 30%);
  }
  &.ui-menu .ui-menu-item {
    .ui-state-focus, .ui-state-active {
      margin: 0;
    }
  }
}

.autocomplete-item {
  &__classification, &__vernacular, &__alternate {
    @include adjust-font-size-to(0.8em);
  }
}

.tagline {
  p {
    @include adjust-font-size-to(1.25em);
    font-weight: map-get($ggi-font-weight, light);
    font-style: italic;
    margin: 0;
  }
}

.tree__wrapper {
  border-color: map-get($ggi-colors, light);
  ul {
    @include no-bullet;
  }
}

.tree__item {
  &--poor {
    @extend .qualifier--poor;
  }
  &--average {
    @extend .qualifier--average;
  }
  &--good {
    @extend .qualifier--good;
  }
  &--selected {
    font-weight: map-get($ggi-font-weight, bold);
    a {
      text-decoration: none;
    }
  }
}

.nomenclature__datum {
  &--classification,
  &--common-name {
    font-weight: map-get($ggi-font-weight, light);
  }
}

.assessment_summary__label {
  &--score {
    font-weight: map-get($ggi-font-weight, light);
  }
  &--poor {
    @extend .qualifier--poor;
  }
  &--average {
    @extend .qualifier--average;
  }
  &--good {
    @extend .qualifier--good;
  }
}

.assessment_summary__datum {
  &--score {
    font-weight: map-get($ggi-font-weight, bold);
  }
  &--poor {
    @extend .qualifier--poor;
  }
  &--average {
    @extend .qualifier--average;
  }
  &--good {
    @extend .qualifier--good;
  }
}

.assessment__measurement {
  &--poor {
    @extend .qualifier--poor;
  }
  &--average {
    @extend .qualifier--average;
  }
  &--good {
    @extend .qualifier--good;
  }
}

.legend__label, .legend__definition {
  &--poor {
    @extend .qualifier--poor;
  }
  &--average {
    @extend .qualifier--average;
  }
  &--good {
    @extend .qualifier--good;
  }
}

footer.page__footer {
  @include ggi-color(dark);
}

a.info {
  width: 17px;
  height: 17px;
  display: inline-block;
  @include replace-text("info_icon.png");
}

