%section
  %article
    %header
      %h1 About
    %p The GGI portal enables biodiversity researchers to quickly figure out |
       where knowledge exists and does not exist, and allow them to narrow down |
       where to focus new effort. |
