%section
  %article.narrow
    %header
      %h1 Global Genome Initiative
      %p.subhead Preserving and Understanding the Genomic Diversity of Life on Earth
    %p.c10
      %h2 Biodiversity Genomic Research and Collections
    %p.c10
      %span.c2 
        %a{ href: "http://www.mnh.si.edu/ggi" } Global Genome Initiative (GGI) 
        is committed to safeguarding the Earth’s genomes. GGI is a international collaborative effort coordinated by the Smithsonian Institution across research organizations and the global network of biorepositories (GGBN). GGI’s objective is to leverage question-driven, peer-reviewed research on biodiversity, evolution, and ecology in order to accelerate the acquisition, genetic identification, and sequencing of vouchered genomes by collecting genomic quality samples from species around the world. 
    %p.c10
      %span.c2 Goals
    %ul.c15.lst-kix_list_1-0.start
      %li.c5.c13
        %span.c2 Collect and verify samples from phylogenetically strategic branches of Life and Earth’s ecosystems.
      %li.c5.c13
        %span.c2 Make these collections available for research, respecting best practices of professional collections management and access and benefit sharing.
      %li.c5.c13
        %span.c2 Increase the computational support and technological capacity to sequence genomes.
      %li.c10.c19
        %span.c2 Train the next generation of genomics researchers in biodiversity science.
    %p.c11
      %h2 The GGI Data Portal
    %p.c10
      %span.c2
        The GGI Data Portal is essential knowledge infrastructure for GGI. Prior to this data portal, the meaning of the absence of a taxonomic family from any of the world’s “big” biodiversity databases (see&nbsp;
        %a{ href: "/help" }> Help page
        ) was ambiguous. Such databases only contain taxa for which data exist. Without a list of all taxa, it was impossible to know what we did not know. The GGI Data Portal closes that gap by reporting for six major databases how much data exist, and, crucially, where data are apparently absent (see&nbsp;
        %a{ href: "/help" }> Help page
        ). Version 2 of the Data Portal will provide data on all genera of living organisms.
    %figure.float
      %img{alt: "", src: "images/phylo_tree.jpg", style: "width: 300.00px; height: 300.00px; margin-left: -0.00px; margin-top: -0.00px;", title: ""}/
      %figcaption Phylogenetic Tree of Life, modified from David M. Hillis, Derrick Zwickl, and Robin Gutell, University of Texas.
    %p.c11
      %h2 The Future of Genomics in Biodiversity Research
    %p.c10
      %span.c2 Biodiversity research will be revolutionized by 'omics’ technologies. Decreasing sequencing costs will enable digitization and understanding of the planet's biological heritage in unprecedented detail. As such, DNA sequences are increasingly basic data for studies in evolution, ecology, and conservation  biology. Their value is magnified by the context of phylogeny. Today, we have genomic reference libraries for relatively few model species. These model species (e.g. rice, sunflower, corn, pine, nematode, sea urchin, zebrafish, cow, chimpanzee, fruit fly, mouse, etc.) have provided valuable insight within all domains of biological studies. GGI intends to facilitate the rapid increase of model species across the Tree of Life. By creating a comprehensive reference collection of genomic samples that represent global biodiversity, GGI provides the first step to create the genomic scaffold for all life and the context of genetic expression for all species. Advances in the understanding of how complex structures in organisms are built, of how natural selection and adaptation occur, and of how ecosystems function will all benefit from GGI's effort to acquire and preserve these digital blueprints during this period of rapid global change.
    %p
      %i * Phylogeny – the study of evolutionary relationships among all living things.
    %figure.float
      %img{alt: "", src: "images/freezers.png", style: "width: 350.00px; height: 242.00px; margin-left: -0.00px; margin-top: -0.00px;", title: ""}/
      %figcaption
        Nitrogen freezers housed in the National Museum of Natural History's Biorepository. These freezers, along with others across the&nbsp;
        %a{ href: "http://ggbn.org" }> Global Genome Biodiversity Network
        , will be used to cryo-preserve 50% of the diversity of life in five years. Image by Donald E. Hurlbert, Smithsonian Institution
    %p.c11
      %span.c2  
    %p.c10
      %h2 Safeguarding Earth's Genomes
    %p.c10
      %span.c2
        The genome of every organism contains information that may someday yield vital solutions to medical, environmental, energy, agricultural, and even national security problems. Climate change, habitat alterations, and species loss threaten biodiversity. Increased collaboration among the world's biorepositories and strategically planned research programs can mitigate these threats. The Global Genome Initiative aims to overcome these challenges and safeguard Earth's genomes for future biodiversity research by
        %b preserving the genomic diversity of life on Earth.
