%section
  %article.narrow
    %header
      %h1 Global Genome Initiative
      %p.subhead Preserving and Understanding the Genomic Diversity of Life on Earth
    %p.c10
      %h2 Biodiversity Genomic Research and Collections
    %p.c10
      %span.c2 Global Genome Initiative (GGI) is a collaborative effort to create a solid foundation for genomic research through a global network of biorepositories and research organizations. GGI will preserve and study genomic diversity and increase access to genomic information from the key branches of the Tree of Life––expanding our contribution to the preservation and knowledge of life on our planet.
    %p.c10
      %span.c2 Goals
    %ul.c15.lst-kix_list_1-0.start
      %li.c5.c13
        %span.c2 Collect, verify, and barcode samples from phylogenetically strategic branches of Life, and Earth’s ecosystems.
      %li.c5.c13
        %span.c2 Cryo-preserve 50% of the diversity of life in the next five years and make these collections available for research, with appropriate access and benefit sharing.
      %li.c5.c13
        %span.c2 Increase the computational support and technological capacity to sequence genomes.
      %li.c10.c19
        %span.c2 Train the next generation of genomics researchers in biodiversity science.
    %hr
    %figure.float
      %img{alt: "", src: "images/phylo_tree.jpg", style: "width: 300.00px; height: 300.00px; margin-left: -0.00px; margin-top: -0.00px; transform: rotate(0.00rad) translateZ(0px); -webkit-transform: rotate(0.00rad) translateZ(0px);", title: ""}/
      %figcaption Phylogenetic Tree of Life, modified from David M. Hillis, Derrick Zwickl, and Robin Gutell, University of Texas.
    %p.c11
      %h2 The Future of Genomics in Biodiversity Research
    %p.c10
      %span.c2 Biodiversity research is becoming more and more dependent on 'omics technologies. Ever reducing sequencing costs will enable unprecedented digitization and understanding of the planet's biological heritage. As such, DNA sequences are increasingly the core components of both evolutionary theory and ecological investigations. These data are of limited value however unless contextualized in a phylogenetic framework. Right now, we have genomic reference libraries for only a handful of model species. These model species (e.g. nematode, fruit fly, mouse) have provided valuable insight within all domains of biological studies. GGI intends to facilitate the rapid increase of model species across the Tree of Life. By creating a comprehensive reference collection of genomic samples that represent global biodiversity, GGI provides the templates to create the genomic scaffold for all life and the context of genetic expression for all species. Advances in the understanding of how complex structures in organisms are built, of how natural selection and adaptation occur, and of how ecosystems function all benefit from GGI's effort to lock down these digital blueprints during this period of global change.
    %p.c10
      %span.c2 *
      %span.c2.c21  Phylogeny – the study of evolutionary relationships among all living things.
    %hr
    %figure.float
      %img{alt: "", src: "images/freezers.png", style: "width: 350.00px; height: 220.00px; margin-left: -0.00px; margin-top: -0.00px; transform: rotate(0.00rad) translateZ(0px); -webkit-transform: rotate(0.00rad) translateZ(0px);", title: ""}/
      %figcaption Nitrogen freezers housed in the National Museum of Natural History's Biorepository. These freezers, along with others across the Global Genome Biodiversity Network (GGBN.org), will be used to cryo-preserve 50% of the diversity of life in five years. Image by Donald E. Hurlbert, Smithsonian Institution.
    %p.c11
      %span.c2  
    %p.c10
      %h2 Taking the Lead to Safeguard Earth's Genomes
    %p.c10
      %span.c2 The genome of every organism contains information that may someday yield vital solutions to medical, environmental, energy, security, and agricultural problems. Our ability to realize these discoveries is not guaranteed. It is in fact threatened by habitat and species loss and by a lack of collaboration among the world's biorepositories and research organizations. The Global Genome Initiative aims to overcome these challenges and safeguard Earth's genomes for future biodiversity research by
      %b preserving the genomic diversity of life on Earth.
