%section
  %article.narrow.list
    %header
      %h1 Downloads
    %ul.downloads
      %li
        .excel
          %a{ href: '/ggi_family_data.xlsx' } GGI Family Data (Excel)
      %li
        .word
          %a{ href: '/FALO_References.docx' } References (Word)
      %li
        .pdf
          %a{ href: '/FALO_References.pdf' } References (PDF)
