%section
  %article.narrow
    %header
      %h1 Downloads
    %ul
      %li
        %a{ href: '/ggi_family_data.xlsx' } GGI Family Data (Excel)
      %li
        %a{ href: '/FALO_References.docx' } References (Word)
      %li
        %a{ href: '/FALO_References.pdf' } References (PDF)
