%section
  %article
    %header
      %h1 Help
    %p.c9.c2
      %h2 
        Contact: 
        %a{ href: "mailto:ggi@si.edu" } ggi@si.edu
    %p.c9.c2
      %h2 The GGI Data Portal
    %p.c9.c2.c10
      %span
    %p.c9.c2
      %span.c7 The GGI Data Portal enables scientists to identify where biodiversity genomic knowledge exists for each family of living organisms, and allows them to focus new knowledge-building efforts.  Core sources of knowledge include Biodiversity Heritage Library pages (BHL), Barcode of Life Records (BOLD), Encyclopedia of Life (EOL) rich pages, Global Biodiversity Information Facility (GBIF) records, GenBank sequences, and Global Genome Biodiversity Network (GGBN) records.  
    %p.c9.c2.c10
      %span.c1
    %p.c2.c9
      %h2 Taxonomy
    %p.c9.c2.c10
      %span.c1
    %p.c9.c2
      %span.c1.c8 The GGI Data Portal Taxonomy is based on the list of Families of Living Organisms (FALO) compiled by Ruggiero (2014) as an extension of a seven-kingdom classification of life in Ruggiero et al. (in prep 2014).  The latter work is the result of an experts panel representing the major taxonomic disciplines convened to review, revise, and update the existing incomplete Catalogue of Life (CoL) hierarchy down to order.  This new classification is based on a consensus view among the authors, accommodating taxonomic choices and practical compromises among diverse opinions, usages and conflicting evidence of the boundaries between ranks and some major taxa, including kingdoms.
    %p.c9.c2.c10
      %span
    %p.c2.c3
      %span.c0.c6 Ruggiero, Michael  A. (Comp. 2014).  Families of All Living Organisms, Version 2.0.a.15, (4/26/14).  Expert Solutions International, LLC, Reston, VA.  420 pp.
    %p.c2.c3
      %span.c0.c6 Ruggiero, M., Gordon, D., Bailly, N., Bourgoin, T., Brusca, R., Cavalier-Smith, T., Guiry, M., Kirk, P., and Orrell, T. (In prep 2014). Seven Kingdoms: A Practical Higher-level Classification of All Living Organisms
    %p.c2
      %h2 Features
    %p.c2
      %b Search
      %span.c0  functions as an autocomplete.  The user starts typing the beginning of a family name and is presented with a list of matching names from the taxonomy tree to choose from.  Users can select a name and the node in the taxonomy tree is selected.
    %p.c2
      %b Taxonomy tree
      %span.c0 contains FALO classification from ranks superkingdom to family. This tree is 1) expandable and collapsible, 2) scrollable with fixed dimensions and 3) lists nodes alphabetically. Tree nodes are selectable.  When a node is selected the source, value, score data and taxonomic information changes.  Each node has a unique URL.  
    %p.c2
      %b Phylogeny tree
      %span.c0 (coming soon)
    %p.c2
      %b Total Score
      %span.c7 is calculated on a scale from 0-100.  See
      %b Percentile score
      %span.c7  below.
    %p.c2
      %b Reference
      %span.c7  is the citation from the FALO list. A full list of citations may be downloaded from the Resources page.
    %p.c2
      %b Source,
      %b count
      %b ,
      %b percentile score
      %b .
      %span.c0  Only taxa of rank family have source,
      %span.c7 count, and percentile score data.  
      %b Source
      %span.c0 is a shortened acronym form of the
      %span.c7 core source of knowledge and contains a link to the core source website.
      %span.c0  
      %b Count
      %b  
      %span.c0 is a measurement, typically an integer, for a subset of attributes in TraitBank.
      %b  
      %b Percentile score
      %span.c0  is a raw integer count and percentile rank for all families from that data source (
      %span.c0.c11.c12
        %a.c13{href: "http://www.google.com/url?q=http%3A%2F%2Fmathworld.wolfram.com%2FPercentile.html&sa=D&sntz=1&usg=AFQjCNGcVKglMHOj4xfrVC0Wgtw0wfZlIQ"} http://mathworld.wolfram.com/Percentile.html
      %span.c1.c8 ), which results in a scale of 0-100 for each data source. Each family is color coded by data source and binned into terciles of high, medium and low, or Good (green), Average (blue) and
      %span.c1 Poor
      %span.c1.c8  (red), which results in a range between 0 and 1 for each  category
      %span.c1 .  Filled, half filled, and empty
      %span.c7 c
      %span.c0 ircles are used as visual cues for ranges within in each tercile.  
    %p.c2
      %b Legend.
      %span.c7  Outlines the range of each color coded bin.
    %p.c2
      %b Taxon Information.  
      %span.c0 Taxa below superkingdom level are associated with a classification hierarchy.  Every taxon is associated with a scientific name.  The total number of families is an integer calculated from the FALO classification and is only shown for taxa above the rank family. The taxon source is a string, specifically referenced in FALO classification.  
    %p.c2
      %b Total Score
      %span.c0  is an assessment of all ‘values’ for that taxon
    %p.c2
      %span.c7 The
      %b photo
      %span.c0 shown is the exemplar or best image from EOL, and is hyperlinked to matching EOL taxon page.  
    %p.c2
      %b Updates:
      %span.c0  The GGI Portal is updated each month on xxx date.
    %p.c2
      %b Download
      %span.c0 : Data can be downloaded as an Excel file
      %span.c7  from the Resources page.
    %p.c2
      %b Data Assembly
    %p.c2
      %span.c7 Should we add methods from FALO paper here?
