!!!
%html
  %head
    %link{ rel: 'stylesheet', href: 'http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css', type: 'text/css' }
    %script{ src: 'http://code.jquery.com/jquery-1.9.1.js' }
    %script{ src: 'http://code.jquery.com/ui/1.10.3/jquery-ui.js' }
    != js :app
    != css :application, :media => 'screen'
  %body
    .container
      .header
        - header = @taxon ? ": %s %s" % [@taxon[:taxonRank].capitalize, @taxon[:scientificName]] : ''
        %h1.header__title= "Name of Site%s" % header
        %ul.header__nav
          %li.nav__item About
          %li.nav__item Help
          %li.nav__item Download
      .subhead
        .tools
          %form.search_form{ method: 'get', action: '/search', id: 'search_form' }
            %input#search_term.search__term{ type: :text, name: 'search_term',  placeholder: "Search for a name" }
            %input.search__button{ type: :submit, value: "Go"}
        .tagline
          %h2.tagline__text
            Tagline for the site
            %small.tagline__more_info (read more)
      .main
        = yield
      .footer
        %h2.footer__title SIBGI Logo
        .footer__byline
          %p Powered by EOL
